@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";


*{
  margin: 0;
  font-family: Outfit;
}
.mt-3 {
  margin-top: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
}
.mt-5 {
  margin-top: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
}
.my-6 {
  margin-block: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
}
.m-auto {
  margin: auto;
}

.mx-auto {
  margin-inline: auto;
}

.my-10 {
  margin-block: calc(var(--spacing) * 10) /* 2.5rem = 40px */;
}

.my-20 {
    margin-block: calc(var(--spacing) * 20) /* 2.5rem = 40px */;
}
.mt-20 {
  margin-top: calc(var(--spacing) * 20) /* 5rem = 80px */;
}
.my-8 {
  margin-block: calc(var(--spacing) * 8) /* 2rem = 32px */;
}
.mt-12 {
  margin-top: calc(var(--spacing) * 12) /* 3rem = 48px */;
}
.mt-8 {
  margin-top: calc(var(--spacing) * 8) /* 2rem = 32px */;
}
.mt-14 {
  margin-top: calc(var(--spacing) * 14) /* 3.5rem = 56px */;
}
.mt-10 {
  margin-top: calc(var(--spacing) * 10) /* 2.5rem = 40px */;
}
.mb-28 {
  margin-bottom: calc(var(--spacing) * 28) /* 7rem = 112px */;
}


a.active hr{
  display: block;
}


.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:640px) {
  a.active{
    background-color: black;
    color: white;
  }
}
