@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";


*{
  margin: 0;
  font-family: Outfit;
}
.mt-5 {
  margin-top: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
}
.m-auto {
  margin: auto;
}

.mx-auto {
  margin-inline: auto;
}

.my-20 {
    margin-block: calc(var(--spacing) * 20) /* 2.5rem = 40px */;
}
.mt-20 {
  margin-top: calc(var(--spacing) * 20) /* 5rem = 80px */;
}



a.active hr{
  display: block;
}


.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:640px) {
  a.active{
    background-color: black;
    color: white;
  }
}
